#############################################################
# Standard DHCP/DNS Options
#############################################################

# Configure DHCP Server Range & Lease Time
# range_start, range_end, lease_time
dhcp-range=192.168.0.100,192.168.0.249,12h

# Gateway
dhcp-option=option:router,192.168.0.1

# DNS Servers
dhcp-option=option:dns-server,192.168.0.1,8.8.8.8

dhcp-authoritative

# This command tells dnsmasq to only listen to DHCP queries
# on the specified interface. You may not need it, but my
# system has both a wifi and ethernet NIC, so everything
# was duplicated.
# interface=eth0

#############################################################
# TFTP Options
#############################################################
enable-tftp
tftp-root=/tftpboot
tftp-no-fail

#############################################################
# PXE Options
#############################################################
dhcp-boot=snponly.efi
dhcp-match=set:ipxe,175
dhcp-boot=tag:ipxe,install.ipxe